*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dishWrapper{
    width: 100vw;
    height: 22vh;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-wrap: wrap;     
}
    .data{
        width: 60%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;  
    }
        .title{
            width: 100%;
            height: 20%;
            font-size: 1.1rem;
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
        }
        .precio{
            width: 100%;
            height: 20%;
            font-size: 0.9rem;
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-start;
        }
        .descripcion{ 
            width: 100%;
            height: 60%;
            font-size: 0.6rem;
            font-weight: 400;
            display:flex;
            flex-wrap: wrap;
            align-content:center;
            justify-content: center;
            text-align: left;
        }
        
    .imgWraper{
        width: 31%;
        height:92%;
        margin-top: 4%;
        margin-left: 2%;
        display: flex;
        flex-wrap: wrap;
    }
        .img{
            width:100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }