*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
}
    .img{
        width: 100%;
        height: 18%;
        margin: 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        z-index: 1;
        background-color: aliceblue;
    }
    
    .infoWrapper{
        width:100%;
        height: 85%;
        margin-top: -3%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-start;
        background-color: white;
    }
        .restname{
            width: 100%;
            height: 5%;
            margin-top: 5%;
            padding-left: 5%;
            font-size: 2rem;
            font-weight: 700;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }
        .datos{
            width:100%;
            height: 4%;
            font-size: 1rem;
            font-weight: 650;
            padding-left: 5%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            justify-content: flex-start;
        }   
            .icon{
                width: 4%;
                height: 60%;
            }
            .calificacion{
                width:30%;
                padding: 0;
            }
            .tiempoComida{
                width:10%;
                margin-left: 2%;
            }
            .precio_icon{
                width:9%;
                margin-left: 2%;
            }
        .envio{
            width:100%;
            height: 3%;
            margin-left: 5.5%;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        } 
            .tiempo{
                width:32%;
                height: 100%;
                padding-left: 5%;
                
            }
            .costo{
                width:28%;
                height: 100%;
            }
        .menuWraper{
            width:100%;
            height: 6%;
            font-size: 1.2rem;
            font-weight: 500;
            padding-left: 5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
            .menu{
                width:80%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            .busqueda{
                width:5%;
                height: 100%;
                font-size: 0.7rem;
                font-weight: 500;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
            }
        .seleccion{
            width: 100%;
            height: 7%;
            padding-left: 5%;
            font-size: 1.6rem;
            font-weight: 700;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }
        
        .vercarrito{
            width: 95%;
            height: 6%;
            z-index: 2;
            position: fixed;
            top: 90%;
            left: 2.5%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            color: white;
            background-color: black;
        }
    
@media only screen and (min-width: 450px) {
}

@media only screen and (min-width: 820px) {
    .img{
        width: 100%;
        height: 28%;
    }
    .restname{
        font-size: 2.7rem;
        margin-top: 3%;
        height: 9%;
    }
    .datos{
        font-size: 1.5rem; 
        height: 7%;
    }
    .envio{
        font-size: 1.5rem;
        height: 5%;
    }
    .menuWraper{
        font-size: 1.8rem;
        height: 8%;
    }
        .busqueda{
            width:3%;
            height: 70%;
        }
    .seleccion{
        font-size: 1.8rem;  
        height: 8%;
    }
    .rdlink{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
}
    
    
@media only screen and (min-width: 1050px) {
    .img{
        width: 100%;
        height: 30%;
    }
    .restname{
        margin-top: 1.3%;
    }
        .icon{
            width: 3%;
            height: 60%;
        }
}
