
.navBar{
    width:100vw;
    height: 13vh;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
    .menu{
        width:6%;
        display: flex;
        flex-wrap: wrap;
    }
        .burger{
            max-width:30%;
            max-height: 30%;
            padding-left: 40%;
            padding-top: 30%;
            display: flex;
            flex-wrap: wrap;
        }
    .logo{
        width: 10%;
        height: 100%;
        margin: 0%, 5%, 0, 5%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .entrega{
        width: 10%;
        /* Arriba | Derecha | Abajo | Izquierda */
        margin-left: 2em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .recolectar{
        width: 10%;
        /* Arriba | Derecha | Abajo | Izquierda */
        margin-left: 1em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .domicilio{
        width: 10%;
        /* Arriba | Derecha | Abajo | Izquierda */
        margin-left: 0.8em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .inputwrap{
        width: 25%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: none;
    }
        .input{
            width: 25vw;
            height: 30%;
            padding-left: 4em;
            font-size: 0.9rem;
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border: none;
        }
    
    .ultimos{
        width: 12.7%;
        height: 100%;
        font-size: 0.9rem;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }
        .carrito{
            width: 60%;
            height: 30%;
            margin-left:15% ;
            font-size: 0.9rem;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            justify-content: center;
        }
        .carrito:hover{
            background-color: black;
            color: white
        }
        .init{
            width: 70%;
            height: 30%;
            padding-left: 0em;
            font-size: 0.9rem;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            justify-content: flex-start;
        }
        .init:hover{
            background-color: lightgray;
        }