*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.allwrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.wrapper{
    width:100%;
    height: 55vh;
    margin-top: 40vh;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
    .namewrapper{
        width: 100%;
        height: 20%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:center;
        /* top | right | bottom | left */
        border-color:lightgray;
        border-width: 1.5px; 
        border-style: solid;
        border-top: 2px;
        border-left: 2px;
        border-right: 2px;
    }
    .name{
        width:70%;
        height: 100%;
        font-size: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .articulo{
        width: 100%;
        margin-top: 1.5%;
    }
    .SubtotalW{
        width: 100%;
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
        .subtotal{
            width: 60%;
            height: 100%;
            padding-left: 6%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }
        .cantidad{
            width: 40%;
            height: 100%;
            padding-right: 4.5%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
        }
    .etiqueta{
        width: 100%;
        height: 5%;
        font-size: 1.6rem;
    }
    .selection{
        width: 60%;
        margin: 1% 0;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .pagar{
        width: 100%;
        height: 15%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: black;  
        color: white;   
    }

@media only screen and (min-width: 820px) {
    
    .wrapper{
        width:65%;
        height: 55vh;
        margin-top: 35vh;
        font-size: 2.3rem;
        font-weight: 500;
    }
        .etiqueta{
            width: 100%;
            height: 5%;
            font-size: 2rem;
        }
        .selection{
            width: 35%;
            margin-left: 32.5%;
            margin-right: 32.5%;
            height: 7%;
            font-size: 1.8rem;
        }
        .pagar{
            width: 100%;
            height: 15%; 
            font-size: 1.8rem;
        }
}