:root{
    /* Colores */
    --orange: #F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --off-white:  #FAF8F7;
    --just-white: #FFFFFF;
    --grey: #bababa;
    --green: #103606;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif;
}
.navBar{
    width:100vw;
    height: 8vh;
    margin: 2vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

    .menu_button{
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        margin: 0 4vw;
        border: solid;
        border-color: gainsboro;
        border-width: 2px;
        box-shadow: 0px 2px 8px gainsboro;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .menu_button:hover{
        background-color: gainsboro;
        color: white
    }

@media only screen and (min-width: 450px) {
    .navBar{
        width:100vw;
        height: 15vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        flex-direction: row;
        margin-top: 7%;
        font-size: 2.2rem;
    }

    .menu_button{
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        margin: 0 5vw;
    }
}

@media only screen and (min-width: 820px) {
    .navBar{
        width:100vw;
        height: 18vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        margin: 0vh 0;
    }

    .menu_button{
        width: 13vh;
        height: 13vh;
        border-radius: 50%;
        margin: 0 3vw;
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1100px) {
    .navBar{
        margin: 3vh 0;
    }

    .menu_button{
        width: 22vh;
        height: 20vh;
    }
}