:root{
    /* Colores */
    --orange: #F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --off-white:  #FAF8F7;
    --just-white: #FFFFFF;
    --grey: #bababa;
    --green: #103606;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width:100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 4.69%, #F7931A 100%);
}
.header_img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    padding: 0%;
    align-self: center;
    object-fit: cover;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.header_title_container {
    width: 100%;
    height: 218px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header_title_container_title {
    width:100%;
    height: 25%;
    font-size: 5rem;
    font-weight: 800;
    line-height: 2.6rem;
    padding-top: 1.4rem;
    color: var(--green);
}
.header_title_container_h1 {
    width:100%;
    height: 25%;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    padding-top: 1.8rem;
    color: var(--just-white);
}
.header_title_container_p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    height: 50%;
    padding-top: 5%;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: var(--just-white);
}
.header_button_span_title {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    padding-top: 2px;
    object-fit: fill;
    background-image: url(./icons/smiling-face.png);
    background-repeat: no-repeat;
}
.header_button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding:15px;
    width: 229px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    text-decoration: none;

}

.header_button_span {
    display: inline-block;
    width: 13px;
    height: 9px;
    margin-left: 10px;
    background-image: url(./icons/Vector.svg);
    /* <a href="https://www.flaticon.com/free-icons/smile" 
        title="smile icons">Smile icons created by Md Tanvirul Haque - Flaticon</a> */
    background-repeat: no-repeat;
}
main{
    width:100%;
    height: auto;
    background-color: var(--off-white);
}
.food_img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url("https://d1hdnpfpyy58x9.cloudfront.net/uploads/images/landings/40/b9/un-chef-a-domicilio-sirviendo-un-plato-durante-una-experiencia-take-a-chef-en-ciudad-de-mexico.jpg,w_1200,h_556,c_1,q_85,fd_0,e_.webp");
    background-position: 56%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 0px;
}
.food_img_container_h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    width:80%;
    height: 62%;
    margin-bottom: 0px;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 4.2rem;
    color: #757575;
}
.food_img_container_p{
    width:100%;
    height: 35%;
    padding-top: 15%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main_instructions_container{
    width: 100%;
    height: auto;
    min-width: 320px;
    padding-bottom: 70px;
    background-color: #efedec;
}
.main_instructions_container_h2{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
    padding-top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.main_instructions_container_h3{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 8px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.instructions_container_slider{
    display: flex;
    gap: 25px;
    height: 380px;
    overflow-x: scroll;
    /* genera un scroll en la linea x */
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
} 
.instructions_container_card_1{
    position: relative;
    scroll-snap-align: center;
    /* centra el elemento al usar scroll horizontal */
    width: 90%;
    width: 250px;
    height: 300px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(89,73,30,0.16);
    order: 2;
}
.instructions_container_card_2{
    position: relative;
    scroll-snap-align: center;
    /* centra el elemento al usar scroll horizontal */
    width: 90%;
    width: 250px;
    height: 300px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(89,73,30,0.16);
    order: 1;
}
.instructions_container_card_3{
    position: relative;
    scroll-snap-align: center;
    /* centra el elemento al usar scroll horizontal */
    width: 90%;
    width: 250px;
    height: 300px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(89,73,30,0.16);
    order: 3;
}
.instructions_container_card_p{
    position: absolute;
    width: 50%;
    height: 40px;
    margin-left: 20%;
    top: -15px;
    padding: 7px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--just-white);
    background-color: var(--orange);
    border-radius: 8px;
}
.instructions_container_title{
    padding-top: 70px;
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 4rem;
    text-align: center;
    color: #000000;
}

.instructions_container_title_button{
    width: 150px;
    height: 48px;
    margin-top: 100px;
    margin-left: 3%;
    background-color:#faf8f7 ;
    border: 2px solid var(--orange);
    border-radius: 4px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--warm-black);
}

.main_product_detail{
    position: relative;
    /* esto para que el contenedor de logo (batata logo) tome este contenedor como referencia con position absolute */
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    color: var(--just-white);
    background-color: var(--warm-black);
}
.product_detail_logo{
    position: absolute;
    /* cuando colocamos un position absolute va a buscar el primer contenedor padre para que su posicion se base de ahi */
    background-image: url(./icons/WeEatLogoYellow.png);
    left: calc(50% - 82px);
    top: -65px;
    width: 140px;
    height: 120px;
    display: block;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.product_detail_title{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: var(--off-white);
}
.main_product_detail_h2{
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    justify-content: center;
}
.main_product_detail_p {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
}
.product_detail_card{
    width:90%;
    /* min-width: 280px;
    max-width: 400px; */
    height: 150px;
    margin: 15px auto;
    padding: 10px;
    background-color: var(--warm-black1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.card_icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    width:15%;
    height: 20%;
    font-size: 2rem;
}
.product_detail_card_h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    width: 70%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product_detail_card_p{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    width: 90%;
    margin-left: 22%;
    height: 20%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#808080;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    width: 100vw;
    height: 150px;
    background-color: var(--orange);
}
.footer_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 70%;
}
.footer_left_ul{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
    .footer_img {
        width: 120px;
        height: 100px;
        margin-top: 10px;
        padding: 0%;
        align-self: center;
        object-fit: cover;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;   
    }
.left_li{
    margin: 10px 0;
}
.left_a{
    text-decoration: none;
    color: var(--just-white);
}
.footer_section_down{
    width: 100%;
    height: 30%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--just-white);
}

@media only screen and (min-width: 765px) {
    header {
        height: 480px;
      }
    .header_img {
        width: 300px;
        height: 300px;
    }
    .header_title_container {
        height: 55%;
    }
    .header_title_container_title {
        height: 25%;
        font-size: 7rem;
    }
    .header_title_container_h1 {
        height: 25%;
        font-size: 4rem;
        padding-top: 4%;
    }
    .header_title_container_p {
        height: 50%;
        padding-top: 5%;
        font-size: 3.3rem;
    }
    .header_button_span_title {
        width: 28px;
        height: 28px;
        background-size: contain;
        margin-left: 12px;
        margin-top: -5px;
        background-image: url(./icons/smiling-face64.png);
    }
    .header_button {
        top: 85%;
        font-size: 3rem;
    }
    .food_img_container{
        height: 65vh;
    }
    .food_img_container_h2{
        width: 60%;
        height: 60%;
        font-size: 3.5rem;
        line-height: 5.5rem;
    }
    .food_img_container_p{
        font-size: 3.5rem;
    }
    .main_instructions_container{
        height: 65vh;
    }
    .main_instructions_container_h2{
        font-size: 5.5rem;
        padding-top: 4%;
    }
    .main_instructions_container_h3{
        width: 90%;
        padding-top: 1.5%;
        font-size: 3.3rem;
        line-height: 3rem;
    }
    .instructions_container_slider{
        height: 450px;
    } 
    .instructions_container_card_1{
        min-width: 300px;
        height: 360px;
        order: 1;
    }
    .instructions_container_card_2{
        min-width: 300px;
        height: 360px;
        order: 2;
    }
    .instructions_container_card_3{
        min-width: 300px;
        height: 360px;
        order: 3;
    }

    .instructions_container_card_p{
        width: 60%;
        height: 65px;
        top: -30px;
        left: 0%;
        font-size: 3.3em;
    }
    .instructions_container_title{
        padding-top: 100px;
        font-size: 5rem;
    }
    
    .instructions_container_title_button{
        width: 75%;
        height: 80px;
        font-size: 2.1rem;
    }            
    .product_detail_logo{
        left: calc(50% - 120px);
        top: -102px;
        width: 200px;
        height: 180px;
    }
    .main_product_detail_h2{
        margin-top: 70px;
        font-size: 3.8rem;
    }
    .main_product_detail_p {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 3rem;
    }
    .product_detail_card{
        width:90%;
        /* min-width: 650px; */
        height: 220px;
        margin: 25px auto;
    }
    .product_detail_card_h2{
        font-size: 3.7rem;
    }
    .product_detail_card_p{
        font-size: 2.8rem;
    }
    footer{
        width: 100vw;
        height: 200px;
    }
    .footer_left_ul{
        font-size: 3.2rem;
    }
    .footer_section_down{
        font-size: 2.5rem;
    }
}


@media only screen and (min-width: 1100px) {
    header {
        height: 480px;
      }
    .header_title_container_title {
        height: 30%;
    }
    .header_title_container_h1 {
        height: 30%;
        padding-top: 1%;
    }
    .header_title_container_p {
        height: 40%;
        padding-top: 1%;
    }
    .food_img_container_h2{
        height: 46%;
        line-height: 5.5rem;
    }
    .food_img_container_p{
        padding-top: 7%;
    }
    .main_instructions_container{
        height: 130vh;
    }
        .instructions_container_slider{
            height: 450px;
        } 
            .instructions_container_card_1{
                min-width: 390px;
                height: 360px;
                order: 1;
            }
            .instructions_container_card_2{
                min-width: 390px;
                height: 360px;
                order: 2;
            }
            .instructions_container_card_3{
                min-width: 390px;
                height: 360px;
                order: 3;
            }

    .main_product_detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }  
    .product_detail_logo{
        left: calc(50% - 120px);
        top: -102px;
        width: 200px;
        height: 180px;
    }
    .main_product_detail_h2{
        width: 100vw;
        height: 10%;
    }
    .main_product_detail_p {
        width: 100vw;
        height: 10%;
    }
    .product_detail_card{
        display: flex;
        width:35vw;
        height: 30vh;
        margin-right: 30px;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1500px) {
    
    .main_instructions_container{
        height: 105vh;
    }
        .instructions_container_slider{
            height: 450px;
            gap: 35px;
            padding-left: 7%;
            margin-top: 1%;
            overflow-x: hidden;
        } 
            .instructions_container_card_1{
                min-width: 400px;
                height: 360px;
                order: 1;
            }
            .instructions_container_card_2{
                min-width: 400px;
                height: 360px;
                order: 2;
            }
            .instructions_container_card_3{
                min-width: 400px;
                height: 360px;
                order: 3;
            }
                .instructions_container_title_button{
                    width: 75%;
                    height: 80px;
                    font-size: 2.7rem;
                } 
        }