
.whitewrapper{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    z-index: 3;
    box-shadow: 6px 10px 10px gray;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
    .addwrapper{
        width: 65%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
        .add{
            width:22%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
        .cantidad{
            width:6%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

        }
        .cart{
            width:25%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
        .precio{
            width:22%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }

@media only screen and (min-width: 820px) {
    .wrapper{
        justify-content: center;
    }
        .addwrapper{
            justify-content: center;
        }
        
            .add{
                width:13%;
            }
            .cantidad{
                width:5%;
            }
            .cart{
                width:15%;
            }
            .precio{
                width: 13%;
                margin-left: 0;
            }
}